@page
@model DevOps.Status.Pages.View.BuildModel
@{
}

<h1>Build</h1>

<form method="get">
    <div class="form-group">
        <label for="numberId">Build Number</label>
        <input type="text" class="form-control" id="numberId" asp-for="Number" placeholder="100" />
    </div>

  <button class="btn btn-primary">Display</button>
</form>

@if (Model.Number is { } number)
{
    <h3>Build Info</h3>
    <p>Azure DevOps Build: <a href="@Model.BuildUri">@number</a></p>
    <p>Repository: <a href="@Model.RepositoryUri">@Model.Repository</a></p>
    @if (Model.PullRequestKey is { } prKey)
    {
        <p>Pull Request: <a asp-page="/View/PullRequest" asp-route-repository="@prKey.Repository" asp-route-number=@prKey.Number>@prKey.Number</a></p>
    }

    <p>Attempts: @Model.Attempts</p>
    <p>Result: @Model.BuildResult</p>

    <div>
        <h3>Timeline Issues</h3>
        <partial name="../Shared/_TimelineIssuesDisplay" model="@Model.TimelineIssuesDisplay" />
    </div>

    <div>
        <h3>Failed Tests</h3>
        <partial name="../Shared/_TestResultsDisplay" model="@Model.TestResultsDisplay" />
    </div>
}

