@page
@using DevOps.Status.Util
@model DevOps.Status.Pages.View.BuildModel
@{
}

<h1>Build</h1>

<form method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="numberId">Build Number</label>
        <input class="col-sm-10 form-control" type="text" id="numberId" asp-for="Number" placeholder="100" />
    </div>

    <button class="btn btn-primary">Display</button>
</form>

@if (Model.Number is { } number)
{
    <h3>Build Info</h3>

    <dl class="row">
        <dt class="col-sm-3">Azure DevOps Build</dt>
        <dd class="col-sm-9"><a href="@Model.BuildUri" target="_blank">@number</a></dd>

        <dt class="col-sm-3">Definition</dt>
        <dd class="col-sm-9"><a asp-page="/View/Definition" asp-route-definition="@Model.DefinitionName">@Model.DefinitionName</a></dd>

        <dt class="col-sm-3">GitHub Repository</dt>
        <dd class="col-sm-9"><a href="@Model.RepositoryUri">@Model.Repository</a></dd>

        <dt class="col-sm-3">Queue Time</dt>
        <dd class="col-sm-9">@Model.QueueTime</dd>

        @if (Model.TargetBranch is { })
        {
            <dt class="col-sm-3">Target Branch</dt>
            <dd class="col-sm-9">@Model.TargetBranch</dd>
        }

        @if (Model.PullRequestKey is { } prKey)
        {
            <dt class="col-sm-3">Pull Request</dt>
            <dd class="col-sm-9"><a asp-page="/View/PullRequest" asp-route-repository="@prKey.Repository" asp-route-number=@prKey.Number>@prKey.Number</a></dd>
        }

        <dt class="col-sm-3">Attempts</dt>
        <dd class="col-sm-9">@Model.Attempts</dd>

        <dt class="col-sm-3">Result</dt>
        <dd class="col-sm-9">@Model.BuildResult</dd>
    </dl>

    <div>
        <h3>Associated Issues</h3>
        <p>GitHub Issues that are linked to the result of this build.</p>
        @if (Model.GitHubIssues.Count > 0)
        {
            <div class="container">
                @foreach (var gitHubIssueKey in Model.GitHubIssues)
                {
                    <div class="row">
                        <div class="col-10"><a href="@gitHubIssueKey.IssueUri">@gitHubIssueKey.IssueUri</a></div>
                        @if (User.GetGitHubIdentity()?.IsAuthenticated == true)
                        {
                            <div class="col-1">
                            <form method="post">
                                <input type="hidden" name="formAction" value="removeIssue" />
                                <input type="hidden" name="gitHubIssueUri" value="@gitHubIssueKey.IssueUri" />
                                <button class="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                            </div>
                        }

                    </div>
                }
            </div>
        }
        else
        {
            <p class="font-italic">No associated issues</p>
        }

        @if (User.GetGitHubIdentity()?.IsAuthenticated == true)
        {
            <div class="mt-2">
                <form method="post">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="numberId">New Issue Url</label>
                        <input class="col-sm-8 form-control" type="text" name="gitHubIssueUri" value="https://github/dotnet/" />
                        <input type="hidden" name="formAction" value="addIssue" />
                        <button class="col-sm-1 ml-2 btn btn-primary">Associate</button>
                    </div>
                </form>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.GitHubIssueAddErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                <p>Error adding issue: @Model.GitHubIssueAddErrorMessage</p>
                <p>Make sure to use a compatible issue URL like https://github.com/dotnet/roslyn/issues/48954 </p>
            </div>
        }
    </div>

    <div>
        <h3>Timeline Issues</h3>
        <partial name="../Shared/_TimelineIssuesDisplay" model="@Model.TimelineIssuesDisplay" />
    </div>

    <div>
        <h3>Failed Tests</h3>
        <partial name="../Shared/_TestResultsDisplay" model="@Model.TestResultsDisplay" />
    </div>
}

