@page "{id:int?}"
@model DevOps.Status.Pages.View.DefinitionModel
@{
}

@if (Model.Definition is { } definition)
{
    <h1>Defintion: <a target="_blank" href=@definition.DefinitionKey.DefinitionUri>@definition.ModelBuildDefinition.DefinitionName</a></h1>

    <div class="mt-2">
        <form method="get">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="numberId">Target Branch</label>
                <input class="col-sm-10 form-control" type="text" value="@Model.TargetBranch">
            </div>
            <button class="btn btn-primary">View</button>
        </form>
    </div>

    <div class="mt-2">
        <h2>Build Pass Information</h2>

        <table class="table table-striped table-bordered mt-2">
            <thead>
                <tr>
                    <th scope="col">Days</th>
                    <th scope="col">Rolling</th>
                    <th scope="col">Merged Pull Requests</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var buildInfo in definition.BuildInfos)
                {
                    <tr>
                        <td>@buildInfo.Title</td>
                        <td><a asp-page="/search/builds" asp-route-q="@buildInfo.RollingRequest.GetQueryString()">@buildInfo.RollingRate</a></td>
                        <td><a asp-page="/search/builds" asp-route-q="@buildInfo.MergedPullRequestRequest.GetQueryString()">@buildInfo.MergedPullRequestRate</a></td>
                        <td><a asp-page="/search/builds" asp-route-q="@buildInfo.TotalRequest.GetQueryString()">@buildInfo.TotalRate</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mt-2">
        <h2>Issues Encountered</h2>
        <p>Issues impacting builds over last 21 days</p>

        <div id="issue-accordion" class="mt-2">
            <ul>
                @for (int i = 0; i < Model.IssueInfos.Count; i++)
                {
                    var issueInfo = Model.IssueInfos[i];
                    var target = $"issue-id-{i}";

                    <li>
                        <p>
                          <a target="_blank" href="@issueInfo.IssueKey.IssueUri">@issueInfo.IssueKey.IssueUri</a> (<a data-toggle="collapse" href="#@target" role="button">@issueInfo.BuildNumbers.Count builds</a>)
                        </p>
                        <div class="collapse multi-collapse" id=@target>
                            <ul>
                                @foreach (var buildNumber in issueInfo.BuildNumbers)
                                {
                                    <li><a asp-page="/view/build" asp-route-number="@buildNumber">@buildNumber</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{

}

