@page "{id:int?}"
@model DevOps.Status.Pages.View.DefinitionModel
@{
}

@if (Model.Definition is { } definition)
{
    <h1>Defintion: @definition.ModelBuildDefinition.DefinitionName</h1>

    <div>
        <h2>Build Pass Information</h2>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Days</th>
                    <th scope="col">Rolling</th>
                    <th scope="col">Merged Pull Requests</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var buildInfo in definition.BuildInfos)
                {
                    <tr>
                        <td>@buildInfo.Title</td>
                        <td>@buildInfo.RollingRate</td>
                        <td>@buildInfo.MergedPullRequestRate</td>
                        <td>@buildInfo.TotalRate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{

}

