@page "{id:int?}"
@model DevOps.Status.Pages.View.DefinitionModel
@{
}

@if (Model.Definition is { } definition)
{
    <h1>Definition: <a target="_blank" href=@definition.DefinitionKey.DefinitionUri>@definition.ModelBuildDefinition.DefinitionName</a></h1>

    <div class="mt-2">
        <form method="get">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="numberId">Target Branch</label>
                <input class="col-sm-10 form-control" type="text" asp-for=TargetBranch>
            </div>
            <button class="btn btn-primary">View</button>
        </form>
    </div>

    <div class="mt-2">
        <h2>Build Pass Information</h2>

        <table class="table table-striped table-bordered mt-2">
            <thead>
                <tr>
                    <th scope="col">Days</th>
                    <th scope="col">
                        Rolling
                        <a href="#" data-toggle="tooltip" data-html="true" data-container="body"
                        title="The pass rate for builds triggered after a commit was checked-in to the main repo. 
<p>Failures here generally indicate issues in CI as these are supposedly `good` changes.</p>">
                            &#9432; <!-- ⓘ -->
                        </a>
                    </th>
                    <th scope="col">
                        Merged PR
                        <a href="#" data-toggle="tooltip" data-html="true" data-container="body"
                        title="The pass rate for the final PR build prior to merging the PR. 
<p>For required checks, this will be 100% (or close to it) as the build must pass to merge the PR.</p>">
                            &#9432; <!-- ⓘ -->
                        </a>
                    </th>
                    <th title="Merged Pull Requests Attempt 1" scope="col">
                        Merged PR Attempt 1
                        <a href="#" data-toggle="tooltip" data-html="true" data-container="body"
                        title="The pass rate of the <b>first</b> attempt for the final PR build prior to merging the PR.
<p>For required checks this column may be more useful than the 'Merged PR' column since it shows flakiness in builds that were eventually merged ('good' builds).</p>">
                            &#9432; <!-- ⓘ -->
                        </a>
                    </th>
                    <th scope="col">
                        Total
                        <a href="#" data-toggle="tooltip" 
                        title="The pass rate for any build triggered by this pipeline - pull request, rolling, or manual.">
                            &#9432; <!-- ⓘ -->
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var buildInfo in definition.BuildResultInfo)
                {
                    <tr>
                        <td>@buildInfo.Title</td>
                        <td><a asp-page="/search/builds" asp-route-q="@buildInfo.RollingRequest.GetQueryString()">@buildInfo.RollingRate</a></td>
                        <td><a asp-page="/search/builds" asp-route-q="@buildInfo.MergedPullRequestRequest.GetQueryString()">@buildInfo.MergedPullRequestRate</a></td>
                        <td>@buildInfo.MergedPullRequestInitialRate</td>
                        <td><a asp-page="/search/builds" asp-route-q="@buildInfo.TotalRequest.GetQueryString()">@buildInfo.TotalRate</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mt-2">
        <h2>Issues Encountered</h2>
        <p>Issues impacting builds over last 21 days</p>

        <ul class="list-group">
            @for (int i = 0; i < Model.IssueInfos.Count; i++)
            {
                var issueInfo = Model.IssueInfos[i];
                var target = $"issue-id-{i}";
                <li class="list-group-item">
                    <a href="#@target" class="badge badge-primary" data-toggle="collapse">@issueInfo.BuildNumbers.Count Builds</a>
                    <a class="ml-2" target="_blank" href="@issueInfo.IssueKey.IssueUri">@issueInfo.IssueKey.IssueUri</a>
                    <div class="collapse" id=@target>
                        <ul class="list-group">
                            @foreach (var buildDisplayInfo in issueInfo.BuildNumbers)
                            {
                                <li class="list-group-item"><a asp-page="/view/build" asp-route-number="@buildDisplayInfo.Number">@buildDisplayInfo.Number</a> @buildDisplayInfo.Kind</li>
                            }
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <h1>Definitions</h1>

    <div class="mt-2">
        <form method="get">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="numberId">Definition Name</label>
                <input class="col-sm-10 form-control" type="text" asp-for="SearchDefinitionName" />
            </div>
            <button class="btn btn-primary">Search</button>
        </form>
    </div>

    <h1>Results @Model.DefinitionInfosTotalCount.ToString("N0")</h1>

    <table class="table table-striped table-bordered mt-2">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var definitionInfo in Model.DefinitionInfos)
            {
                <tr>
                    <td><a asp-page="/view/definition" asp-route-id="@definitionInfo.Id">@definitionInfo.Name</a></td>
                    <td><a asp-page="/view/definition" asp-route-id="@definitionInfo.Id">@definitionInfo.Id</a></td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplayDefinitionKeys" />
}

