@page
@model TrackingIndexModel
@{
    ViewData["Title"] = "Tracking Issues";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Kind</th>
            <th scope="col">Week Count</th>
            <th scope="col">Total Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var issueData in @Model.Issues)
        {
            <tr>
                <td><a asp-page="issue" asp-route-id=@issueData.Id>@issueData.SearchText</a></td>
                <td>@issueData.Kind</td>
                <td>@issueData.WeekCount</td>
                <td>@issueData.TotalCount</td>
            </tr>
        }
    </tbody>
</table>