@page "{id:int}"

@using Octokit
@model TrackingIssueModel
@{
    ViewData["Title"] = "Issue Tracking";
}

<form method="post">
    <div class="form-group">
        <label for="searchKind">Search Text</label>
        <input class="form-control" placeholder="@Model.SearchText" readonly />
    </div>

    <div class="form-group">
        <label for="searchKind">Tracking Kind</label>
        <input class="form-control" placeholder="@Model.TrackingKind" readonly />
    </div>

    <!--<button type="submit" class="btn btn-primary">Create</button> -->
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="column">Build</th>
            <th scope="column">Kind</th>
            <th scope="column">Job Name</th>
            <th scope="column">Attempt</th>
            <th scope="column">Repository</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var issueData in @Model.Results)
        {
            <tr>
                <td><a href=@issueData.BuildUri>@issueData.BuildNumber</a>
                <td>@issueData.BuildKind</td>
                <td>@issueData.JobName</td>
                <td>@issueData.Attempt</td>
                <td><a href=@issueData.RepositoryUri>@issueData.RepositoryName</a>
            </tr>
        }
    </tbody>
</table>

