@page
@model BuildsModel

@{
    ViewData["Title"] = "Build Search";
}

<form method="get">
  <div class="form-group">
    <label>Query</label>
    <input name="q" type="text" class="form-control" value="@Model.Query">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

@if (Model.Builds.Count > 0)
{
    <p>Pass Rate: @Model.PassRate</p>
    <p>Build Count: @Model.Builds.Count</p>

    <h3>Results</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="column">Build</th>
                <th scope="column">Kind</th>
                <th scope="column">Result</th>
                @if (Model.IncludeDefinitionColumn)
                {
                    <th scope="column">Definition</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var build in Model.Builds)
            {
                <tr>
                    <td><a asp-page="/view/build" asp-route-number="@build.BuildNumber">@build.BuildNumber</a></td>
                    @if (build.PullRequestKey is { } prKey)
                    {
                        <td><a asp-page="/view/pullrequest" asp-route-repository="@prKey.Repository" asp-route-number="@prKey.Number">@build.Kind</a></td>
                    }
                    else
                    {
                        <td>@build.Kind</td>
                    }
                    <td>@build.Result</td>
                    @if (Model.IncludeDefinitionColumn)
                    {
                        <td><a href="@build.DefinitionUri">@build.Definition</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
