@page "/search/build-logs"
@model BuildLogsModel


<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Test Query</label>
    <input name="lq" type="text" class="form-control" value="@Model.LogQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

<div>
    <p>Azure DevOps Signin: @Model.AzureDevOpsEmail</p>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.DidSearch)
{
    <p>@Model.SearchStatus</p>

    <h3>Results</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Build</th>
                <th scope="col">Job</th>
                <th scope="col">Log File</th>
                <th scope="col">Line</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var buildLogData in Model.BuildLogDatas.Where(x => x.IsMatch))
            {
                <tr>
                    <td><a asp-page="/view/build" asp-route-number="@buildLogData.BuildNumber">@buildLogData.BuildNumber</a></td>
                    <td>@buildLogData.JobName</td>
                    <td><a target="_blank" href="@buildLogData.BuildLogReference.Url">Build Log</a></td>
                    <td>@buildLogData.Line</td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplay" />

    <p>
      <a data-toggle="collapse" href="#all-results" role="button">Show all @Model.BuildLogDatas.Count logs searched</a>
    </p>
    <div class="collapse multi-collapse" id="all-results">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Build</th>
                    <th scope="col">Job</th>
                    <th scope="col">Log Name</th>
                    <th scope="col">Log File</th>
                    <th scope="col">Match</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var buildLogData in Model.BuildLogDatas)
                {
                    <tr>
                        <td><a asp-page="/view/build" asp-route-number="@buildLogData.BuildNumber">@buildLogData.BuildNumber</a></td>
                        <td>@buildLogData.JobName</td>
                        <td>@buildLogData.RecordName</td>
                        <td><a target="_blank" href="@buildLogData.BuildLogReference.Url">Build Log</a></td>
                        <td>@buildLogData.IsMatch</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <partial name="../Shared/_SearchQuerySyntaxHelp.cshtml" model="@false"/>
</div>
