@page
@model BuildsModel

@{
    ViewData["Title"] = "Build Search";
}

<form method="get">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Query</label>
        <input class="col-sm-10 form-control" type="text" name="q" value="@Model.Query">
	    <button class="col-sm-1 btn btn-primary">Search</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.Builds.Count > 0)
{
    <h3>Results</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Build</th>
                <th scope="col">Queued</th>
                <th scope="col">Kind</th>
                <th scope="col">Result</th>
                @if (Model.IncludeDefinitionColumn)
                {
                    <th scope="col">Definition</th>
                }
                @if (Model.IncludeTargetBranchColumn)
                {
                    <th scope="col">Target Branch</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var build in Model.Builds)
            {
                <tr>
                    <td><a asp-page="/view/build" asp-route-number="@build.BuildNumber">@build.BuildNumber</a></td>
                    <td>@build.Queued</td>
                    @if (build.PullRequestKey is { } prKey)
                    {
                        <td><a asp-page="/view/pullrequest" asp-route-repository="@prKey.Repository" asp-route-number="@prKey.Number">@build.Kind</a></td>
                    }
                    else
                    {
                        <td>@build.Kind</td>
                    }
                    <td>@build.Result</td>
                    @if (Model.IncludeDefinitionColumn)
                    {
                        <td><a href="@build.DefinitionUri">@build.Definition</a></td>
                    }
                    @if (Model.IncludeTargetBranchColumn)
                    {
                        <td>@build.TargetBranch</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p>Total Build Count: @Model.TotalBuildCount.ToString("N0")</p>
    </div>

    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplay" />

    <div>
        <p>Dates displayed in @Model.DateTimeUtil.TimeZoneInfo.Id</p>
    </div>
}
