@page "/search/helix-logs"
@model HelixLogsModel


<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Helix Query</label>
    <input name="lq" type="text" class="form-control" value="@Model.LogQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

<div>
    <p>Azure DevOps Signin: @Model.AzureDevOpsEmail</p>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
      @Model.ErrorMessage
    </div>
}

@if (Model.HelixLogs.Count > 0)
{
    <h3>Results</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Build</th>
                <th scope="col">Log File</th>
                <th scope="col">Line</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var helixLogData in Model.HelixLogs)
            {
                <tr>
                    <td><a asp-page="/view/build" asp-route-number="@helixLogData.BuildNumber">@helixLogData.BuildNumber</a></td>
                    <td><a href="@helixLogData.HelixLogUri">@helixLogData.HelixLogKind</a></td>
                    <td>@helixLogData.Line</td>
                </tr>
            }
        </tbody>
    </table>
}
