@page "/search/helix-logs"
@model HelixLogsModel


<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Helix Query</label>
    <input name="lq" type="text" class="form-control" value="@Model.LogQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.DidSearch)
{
    <h3>@Model.BuildResultText</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Build</th>
                <th scope="col">Log File</th>
                <th scope="col">Line</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var helixLogData in Model.HelixLogs.Where(x => x.IsMatch))
            {
                <tr>
                    <td><a asp-page="/view/build" asp-route-number="@helixLogData.BuildNumber">@helixLogData.BuildNumber</a></td>
                    <td><a target="_blank" href="@helixLogData.HelixLogUri">@helixLogData.HelixLogKind</a></td>
                    <td>@helixLogData.Line</td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplay" />

    <p>
      <a data-toggle="collapse" href="#all-results" role="button">Show all @Model.HelixLogs.Count logs searched</a>
    </p>
    <div class="collapse multi-collapse" id="all-results">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Build</th>
                    <th scope="col">Log File</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var helixLogData in Model.HelixLogs)
                {
                    <tr>
                        <td><a asp-page="/view/build" asp-route-number="@helixLogData.BuildNumber">@helixLogData.BuildNumber</a></td>
                        <td><a target="_blank" href="@helixLogData.HelixLogUri">@helixLogData.HelixLogKind</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <partial name="../Shared/_SearchQuerySyntaxHelp.cshtml" model="@false"/>
</div>