@page
@model TestsModel
@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "Tests Search";
}

<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Test Query</label>
    <input name="tq" type="text" class="form-control" value="@Model.TestsQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

<div id="accordion">
    @foreach(var testInfo in @Model.TestInfos)
    {
        string filterTestQuery = $@"name:""{testInfo.TestName}""";
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@testInfo.CollapseName">
                    @testInfo.TestName (@testInfo.Results.Count)
                    </button>
                </h5>
            </div>

            <div id="@testInfo.CollapseName" class="collapse" data-parent="#accordion">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="column">Build</th>
                            <th scope="column">Test Run</th>
                            @if (testInfo.IncludeKindColumn)
                            {
                                <th scope="column">Kind</th>
                            }
                            @if (testInfo.IncludeHelixColumns)
                            {
                                <th scope="column">Helix Console</th>
                                <th scope="column">Helix Run Client</th>
                                <th scope="column">Helix Core Dump</th>
                                <th scope="column">Helix Test Results</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in testInfo.Results)
                        {
                            <tr>
                                <td><a asp-page="/view/build" asp-route-number="@result.BuildNumber">@result.BuildNumber</a></td>
                                <td>@result.TestRun</td>
                                @if (testInfo.IncludeKindColumn)
                                {
                                    <td>@result.Kind</td>
                                }
                                @if (testInfo.IncludeHelixColumns)
                                {
                                    <td>
                                        @if (!string.IsNullOrEmpty(result.HelixConsoleUri))
                                        {
                                            <a href=@result.HelixConsoleUri target="_blank">Console</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(result.HelixRunClientUri))
                                        {
                                            <a href=@result.HelixRunClientUri target="_blank">Run Client</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(result.HelixCoreDumpUri))
                                        {
                                            <a href=@result.HelixCoreDumpUri target="_blank">Core Dump</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(result.HelixTestResultsUri))
                                        {
                                            <a href=@result.HelixTestResultsUri target="_blank">Test Results</a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <a class="btn btn-primary" asp-route-bq=@Model.BuildQuery asp-route-tq=@filterTestQuery>Filter to test</a>
                </div>
            </div>
        </div>
    }
</div>
