@page
@model TestsModel
@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "Tests Search";
}

<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Test Query</label>
    <input name="tq" type="text" class="form-control" value="@Model.TestsQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.TestInfos.Count > 0)
{
    <div>
        <p>Included Build Count: @Model.BuildCount</p>
        @if (Model.NextPageNumber is { })
        {
            <p>Displaying first @TestsModel.PageSize failures</p>
        }
    </div>
    <div id="accordion">
        @foreach (var testInfo in @Model.TestInfos)
        {
            string filterTestQuery = $@"name:""{testInfo.TestName}""";
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@testInfo.CollapseName">
                        @testInfo.TestName (@testInfo.TestResultsDisplay?.Results.Count)
                        </button>
                    </h5>
                </div>

                <div id="@testInfo.CollapseName" class="collapse" data-parent="#accordion">
                    <partial name="../Shared/_TestResultsDisplay" model="@testInfo.TestResultsDisplay" />
                    <div class="row">
                        <div class="m-2">
                            <a class="btn btn-primary" asp-route-bq=@Model.BuildQuery asp-route-tq=@filterTestQuery>Filter to test</a>
                        </div>
                        <div class="m-2">
                            <a class="btn btn-primary"
                               asp-page="/Tracking/New"
                               asp-route-IssueTitle="@testInfo.TestName"
                               asp-route-TrackingKind="@DevOps.Util.DotNet.Triage.TrackingKind.Test"
                               asp-route-SearchText="@testInfo.TestNameQuery"
                               asp-route-GitHubOrganization="@testInfo.GitHubOrganization"
                               asp-route-GitHubRepository="@testInfo.GitHubRepository"
                               asp-route-Definition="@testInfo.BuildDefinition">Create Issue</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav>
        <ul class="pagination">
            @if (Model.PreviousPageNumber is { } previousPageNumber)
            {
                <li class="page-item">
                    <a 
                       class="page-link"
                       asp-page="/Search/Tests"
                       asp-route-bq="@Model.BuildQuery"
                       asp-route-tq="@Model.TestsQuery"
                       asp-route-pageNumber="@previousPageNumber">Previous
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            }
            @if (Model.NextPageNumber is { } nextPageNumber)
            {
                <li class="page-item">
                    <a 
                       class="page-link"
                       asp-page="/Search/Tests"
                       asp-route-bq="@Model.BuildQuery"
                       asp-route-tq="@Model.TestsQuery"
                       asp-route-pageNumber="@nextPageNumber">Next
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
            }
      </ul>
    </nav>
}
