@page
@model TestsModel
@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "Tests Search";
}

<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Test Query</label>
    <input name="tq" type="text" class="form-control" value="@Model.TestsQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

<div id="accordion">
    @foreach(var testInfo in @Model.TestInfos)
    {
        string filterTestQuery = $@"name:""{testInfo.TestName}""";
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@testInfo.CollapseName">
                    @testInfo.TestName (@testInfo.TestResultsDisplay?.Results.Count)
                    </button>
                </h5>
            </div>

            <div id="@testInfo.CollapseName" class="collapse" data-parent="#accordion">
                <partial name="../Shared/_TestResultsDisplay" model="@testInfo.TestResultsDisplay" />
                <div class="row">
                    <div class="m-2">
                        <a class="btn btn-primary" asp-route-bq=@Model.BuildQuery asp-route-tq=@filterTestQuery>Filter to test</a>
                    </div>
                    <div class="m-2">
                        <form method="post">
                            <input type="hidden" name="testFullName" value="@testInfo.TestName" />
                            <input type="hidden" name="gitHubRepository" value="@testInfo.TestResultsDisplay?.GitHubRepository" />
                            <button class="btn btn-primary">Create Issue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
