@page
@model TestsModel
@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "Tests Search";
}

<form method="get">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Query</label>
        <input class="col-sm-10 form-control" type="text" name="q" value="@Model.Query">
	    <button class="col-sm-1 btn btn-primary">Search</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.TestInfos.Count > 0)
{
    <div id="accordion">
        @foreach (var testInfo in @Model.TestInfos)
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@testInfo.CollapseName">
                        @testInfo.TestName (@testInfo.TestResultsDisplay?.Results.Count)
                        </button>
                    </h5>
                </div>

                <div id="@testInfo.CollapseName" class="collapse" data-parent="#accordion">
                    <partial name="../Shared/_TestResultsDisplay" model="@testInfo.TestResultsDisplay" />
                    <div class="row">
                        <div class="m-2">
                            <a class="btn btn-primary" asp-route-q="@testInfo.TestNameQuery">Filter to test</a>
                        </div>
                        <div class="m-2">
                            <a class="btn btn-primary"
                               asp-page="/Tracking/New"
                               asp-route-IssueTitle="@testInfo.TestName"
                               asp-route-TrackingKind="@DevOps.Util.DotNet.Triage.TrackingKind.Test"
                               asp-route-SearchText="@testInfo.TestNameQuery"
                               asp-route-GitHubOrganization="@testInfo.GitHubOrganization"
                               asp-route-GitHubRepository="@testInfo.GitHubRepository"
                               asp-route-Definition="@testInfo.BuildDefinition">Create Issue</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div>
        <p>@Model.TotalCount test failures</p>
	</div>
    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplay" />
}
