@page
@model DevOps.Status.Pages.Search.TimelinesModel
@{
    ViewData["Title"] = "Timelines";
}

<form method="get">
  <div class="form-group">
    <label>Build Query</label>
    <input name="bq" type="text" class="form-control" value="@Model.BuildQuery">
    <label>Timeline Query</label>
    <input name="tq" type="text" class="form-control" value="@Model.TimelineQuery">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.BuildCount is { } count)
{
    <p>Build Count: @count</p>

    <div>
        <h3>Results</h3>
        <partial name="../Shared/_TimelineIssuesDisplay" model="@Model.TimelineIssuesDisplay" />
    </div>

    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplay" />
}

