@page
@model DevOps.Status.Pages.Search.TimelinesModel
@{
    ViewData["Title"] = "Timelines";
}

<form method="get">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Query</label>
        <input class="col-sm-10 form-control" type="text" name="q" value="@Model.Query">
	    <button class="col-sm-1 btn btn-primary">Search</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="../Shared/_SearchQuerySyntaxErrorDisplay" model="@Model.ErrorMessage" />
}

@if (Model.TotalCount is { } count)
{
    <p>Count: @count</p>

    <div>
        <h3>Results</h3>
        <partial name="../Shared/_TimelineIssuesDisplay" model="@Model.TimelineIssuesDisplay" />
    </div>

    <partial name="../Shared/_PaginationDisplay" model="@Model.PaginationDisplay" />
}

<div>
    <partial name="../Shared/_SearchQuerySyntaxHelp.cshtml" model="@false"/>
</div>