@page "{id:int}"

@using Octokit
@model TriageIssueModel
@{
    ViewData["Title"] = "Issue Tracking";
}

<div>
    @Model.SearchText
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="column">Build</th>
            <th scope="column">Kind</th>
            <th scope="column">Job Name</th>
            <th scope="column">Attempt</th>
            <th scope="column">Repository</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var issueData in @Model.Results)
        {
            <tr>
                <td><a href=@issueData.BuildUri>@issueData.BuildNumber</a>
                <td>@issueData.BuildKind</td>
                <td>@issueData.JobName</td>
                <td>@issueData.Attempt</td>
                <td><a href=@issueData.RepositoryUri>@issueData.RepositoryName</a>
            </tr>
        }
    </tbody>
</table>
