@model DevOps.Status.Util.PaginationDisplay

<nav>
    <ul class="pagination">
        @if (Model.PreviousPageNumber is { } previousPageNumber)
        {
            <li class="page-item">
                <a 
                   class="page-link"
                   asp-page="@Model.Route"
                   asp-all-route-data="@Model.RouteData"
                   asp-route-pageNumber="@previousPageNumber">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }

        @if (Model.TotalPageCount is { } count)
        {
            int window = 8;
            int start = Model.PageNumber - window;
            int end = Model.PageNumber + window;
            if (start < 0)
            {
                end += -start;
                start = 0;
            }

            if (end > count)
            {
                start = Math.Max(0, start - (end - count));
                end = count;
            }

            @if (start != 0)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }

            @for (var i = start; i < end; i++)
            {
                @if (i == Model.PageNumber)
                {
                    <li class="page-item active">
                        <a 
                           class="page-link"
                           asp-page="@Model.Route"
                           asp-all-route-data="@Model.RouteData"
                           asp-route-pageNumber="@i">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a 
                           class="page-link"
                           asp-page="@Model.Route"
                           asp-all-route-data="@Model.RouteData"
                           asp-route-pageNumber="@i">@i</a>
                    </li>
                }
            }

            @if (end != count)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }
        }

        @if (Model.NextPageNumber is { } nextPageNumber)
        {
            <li class="page-item">
                <a 
                   class="page-link"
                   asp-page="@Model.Route"
                   asp-all-route-data="@Model.RouteData"
                   asp-route-pageNumber="@nextPageNumber">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        }
  </ul>
</nav>
