@model DevOps.Status.Util.TestResultsDisplay

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Test Run</th>
            @if (Model.IncludeTestFullNameColumn)
            {
                <th scope="col">Test Name</th>
            }
            @if (Model.IncludeBuildColumn)
            {
                <th scope="col">Build</th>
            }
            @if (Model.IncludeBuildKindColumn)
            {
                <th scope="col">Kind</th>
            }
            @if (Model.IncludeHelixColumns)
            {
                <th scope="col">Helix Console</th>
                <th scope="col">Helix Run Client</th>
                <th scope="col">Helix Core Dump</th>
                <th scope="col">Helix Test Results</th>
            }
            @if (Model.IncludeErrorMessageColumn)
            {
                <th scope="col">Message</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>@result.TestRun</td>
                @if (Model.IncludeTestFullNameColumn)
                {
                    @if (Model.IncludeTestFullNameLinks)
                    {
                        <td><a asp-page="/Search/Tests" asp-all-route-data="@result.TestFullNameRouteData">@result.TestFullName</a></td>
                    }
                    else
                    {
                        <td>@result.TestFullName</td>
                    }
                }
                @if (Model.IncludeBuildColumn)
                {
                    <td><a asp-page="/View/Build" asp-route-number="@result.BuildNumber">@result.BuildNumber</a></td>
                }

                @if (Model.IncludeBuildKindColumn)
                {
                    <td>@result.Kind</td>
                }

                @if (Model.IncludeHelixColumns)
                {
                    <td>
                        @if (!string.IsNullOrEmpty(result.HelixConsoleUri))
                        {
                            <a href=@result.HelixConsoleUri target="_blank">Console</a>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(result.HelixRunClientUri))
                        {
                            <a href=@result.HelixRunClientUri target="_blank">Run Client</a>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(result.HelixCoreDumpUri))
                        {
                            <a href=@result.HelixCoreDumpUri target="_blank">Core Dump</a>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(result.HelixTestResultsUri))
                        {
                            <a href=@result.HelixTestResultsUri target="_blank">Test Results</a>
                        }
                    </td>
                }

                @if (Model.IncludeErrorMessageColumn)
                {
                    <td>@result.ErrorMessage</td>
                }

            </tr>
        }
    </tbody>
</table>
