@page
@model IssuesModel
@{
    ViewData["Title"] = "Build Search";
}

<table class="table">
    <thead>
        <tr>
            <th scope="column">Text</th>
            <th scope="column">Kind</th>
            <th scope="column">Week Count</th>
            <th scope="column">Total Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var issueData in @Model.Issues)
        {
            <tr>
                <td><a asp-page="issue" asp-route-id=@issueData.Id>@issueData.SearchText</a></td>
                <td>@issueData.SearchKind</td>
                <td>@issueData.WeekCount</td>
                <td>@issueData.TotalCount</td>
            </tr>
        }
    </tbody>
</table>